<mdb-navbar SideClass="navbar navbar-expand-lg red navbar-toggleable-md navbar-dark fixed-top scrolling-navbar">
    <links>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" [routerLinkActive]="['active']">
                <a [routerLink]="['/home']" class="nav-link">
                    Home
                </a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']">
                <a [routerLink]="['/delitos']" class="nav-link">
                    Delitos
                </a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']">
                <a [routerLink]="['/homicidios']" class="nav-link">
                    Accidentes de tránsito
                </a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']">
                <a [routerLink]="['/agresor']" class="nav-link">
                    Presunto agresor
                </a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']">
                <a [routerLink]="['/hecho']" class="nav-link">
                    Hechos
                </a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']">
                <a [routerLink]="['/factor']" class="nav-link">
                    Factores de vulnerabilidad
                </a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']">
                <a [routerLink]="['/resumen']" class="nav-link">
                    Resumen
                </a>
            </li>
            <!--
              <li class="nav-item" [routerLinkActive]="['active']">
                  <a [routerLink]="['/delincuente']" class="nav-link">
                      listado delincuentes
                  </a>
              </li>
              <li class="nav-item" [routerLinkActive]="['active']">
                  <a [routerLink]="['/adicionar']" class="nav-link">
                      Registrar Delincuente
                  </a>
              </li>
              <li class="nav-item" [routerLinkActive]="['active']">
                  <a [routerLink]="['/actualizar']" class="nav-link">
                      Actualizar delincuente
                  </a>
              </li>
              <li class="nav-item" [routerLinkActive]="['active']">
                  <a [routerLink]="['/eliminar']" class="nav-link">
                      Eliminar
                  </a>
              </li>
              <li class="nav-item" [routerLinkActive]="['active']">
                  <a [routerLink]="['/consultar']" class="nav-link">
                      Consultar
                  </a>
            </li>
          -->
            <li class="nav-item" [routerLinkActive]="['active']">
                <a [routerLink]="['/apiresapache']" class="nav-link">
                    <font color=blue>API-RES-APACHE</font>
                </a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']">
                <a [routerLink]="['/about']" class="nav-link">
                    Acerca de
                </a>
            </li>
        </ul>
    </links>
</mdb-navbar>
<router-outlet></router-outlet>
<footer class="page-footer red center-on-small-only mt-0">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5 class="title">Angular App</h5>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container-fluid">
            © 2017<a> Electiva Programación 3 </a>
        </div>
    </div>
</footer>
