<div class="view hm-black-strong">
    <div class="full-bg-img flex-center">
        <ul style="margin-top:5rem">
            <li class="mb-4">
                <h1 class="h1-responsive white-text"><strong>{{title}}</strong></h1>
            </li>
            <li>
                <h3 class="white-text text-lighten-5 h3-responsive" style="padding: 30px;">
                    Jhon Fredy Montenegro Rosero<br>Ingeniería de Sistemas
                </h3>
            </li>
            <li>
                <img src="http://localhost:4200/assets/img/esc.png" style="width: 685px;">
            </li>
        </ul>
    </div>
</div>