<div class="container" style="padding-top:5rem;">
    <div *ngIf="delincuente">
        <h2>{{title}}</h2>
        <!-- <chart-component></chart-component> -->
        <form #formadddeli="ngForm" (ngSubmit)="onSubmit()" class="col-lg-6" id="add_form">
          <label>Delincuente</label>
          <input type="text" #nombre="ngModel" name="nombre" [(ngModel)]="delincuente.name" class=form-control>

          <label>Descripcion de los hechos</label>
          <textarea  #descripcion="ngModel" name="descripcion" [(ngModel)]="delincuente.descrip" class=form-control></textarea>
<!--      <label>Cuadrante</label>
          <input type="text" class=form-control>
          <label>Cedula</label>
           <input type="text" class=form-control>
          -->

          <input type="submit" value="{{title}}" class="btn btn-success">
        </form>
    </div>
</div>
