<div class="container" style="padding-top:5rem;">
    <div *ngIf="agresor">
        <h2>{{title}}</h2>
        <!-- <chart-component></chart-component> -->
        <table class="table table-hover table-striped">
            <thead class="info-color">
                <th>Presunto agresor</th>
                <th>Hombres</th>
                <th>Porcentaje</th>
                <th>Mujeres</th>
                <th>Porcentaje</th>
                <th>Total</th>
                <th>Total %</th>

            </thead>
            <tbody>
                <tr *ngFor="let agre of agresor">
                    <td>{{agre.presunto_agresor}}</td>
                    <td>{{agre.hombre_1}}</td>
                    <td>{{agre.hombre_2}}</td>
                    <td>{{agre.mujer_1}}</td>
                    <td>{{agre.mujer_2}}</td>
                    <td>{{agre.total}}</td>
                    <td>{{agre.none}}</td>

                </tr>
            </tbody>
        </table>
    </div>
</div>