<div class="view hm-black-strong">
    <div class="full-bg-img flex-center">

        <li class="nav-item" [routerLinkActive]="['active']">
            <a [routerLink]="['/delincuente']" class="nav-link">
                <h4>Listado delincuentes</h4>
            </a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
            <a [routerLink]="['/adicionar']" class="nav-link">
                <h4>Registrar Delincuente</h4>
            </a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
            <a [routerLink]="['/actualizar']" class="nav-link">
                <h4>Actualizar delincuente</h4>
            </a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
            <a [routerLink]="['/eliminar']" class="nav-link">
                <h4>Eliminar</h4>
            </a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
            <a [routerLink]="['/consultar']" class="nav-link">
                <h4>Consultar</h4>
            </a>
      </li>



    </div>
</div>
