<div class="container" style="padding-top:5rem;">
    <div *ngIf="delitos">
        <h2>{{title}}</h2>
        <!-- <chart-component></chart-component> -->
        <table class="table table-hover table-striped">
            <thead class="info-color">
                <th>Diagnostico Delitos</th>
                <th>Hombres</th>
                <th>Porcentaje</th>
                <th>Mujeres</th>
                <th>Porcentaje</th>
                <th>Total</th>
                <th>Total %</th>

            </thead>
            <tbody>
                <tr *ngFor="let delito of delitos">
                    <td>{{delito.diagnostico_topogr_fico_de_la_lesi_n}}</td>
                    <td>{{delito.hombre_1}}</td>
                    <td>{{delito.hombre_2}}</td>
                    <td>{{delito.mujer_1}}</td>
                    <td>{{delito.mujer_2}}</td>
                    <td>{{delito.total_1}}</td>
                    <td>{{delito.total_2}}</td>

                </tr>
            </tbody>
        </table>
    </div>
</div>
