<mdb-carousel class="carousel slide">
    <mdb-slide class="h-100">
        <div class="view hm-black-strong w-100 h-100">
            <img class="img-fluid w-100 h-100" src="assets/img/error.jpg"/>
            <div class="mask flex-center waves-light h-100" mdbRippleRadius>
                <ul>
                    <li class="alert alert-danger">
                        <h1>
                            {{title}}
                        </h1>
                    </li>
                </ul>

            </div>
        </div>
    </mdb-slide>
</mdb-carousel>
