<div class="container" style="padding-top:5rem;">
    <div *ngIf="factor">
        <h2>{{title}}</h2>
        <!-- <chart-component></chart-component> -->
        <table class="table table-hover table-striped">
            <thead class="info-color">
                <th>Factor de vulnerabilidad</th>
                <th>Hombres</th>
                <th>Porcentaje</th>
                <th>Mujeres</th>
                <th>Porcentaje</th>
                <th>Total</th>
                <th>Total %</th>

            </thead>
            <tbody>
                <tr *ngFor="let fac of factor">
                    <td>{{fac.factor_de_vulnerabilidad}}</td>
                    <td>{{fac.hombre_1}}</td>
                    <td>{{fac.hombre_2}}</td>
                    <td>{{fac.mujer_1}}</td>
                    <td>{{fac.mujer_2}}</td>
                    <td>{{fac.total}}</td>
                    <td>{{fac.none}}</td>

                </tr>
            </tbody>
        </table>
    </div>
</div>