<div class="container" style="padding-top:5rem;">
    <div *ngIf="delincuente">
        <h2>{{title}}</h2>
        <!-- <chart-component></chart-component> -->
        <table class="table table-hover table-striped">
            <thead class="info-color">
                <th>Presunto delincuente</th>
                <th>Hombres</th>
            </thead>
            <tbody>
                <tr *ngFor="let deli of delincuente">
                    <td>{{deli.id}}</td>
                    <td>{{deli.name}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
