<div class="container" style="padding-top:5rem;">
    <div *ngIf="hecho">
        <h2>{{title}}</h2>
        <!-- <chart-component></chart-component> -->
        <table class="table table-hover table-striped">
            <thead class="info-color">
                <th>Circunstancia</th>
                <th>Hombres</th>
                <th>Porcentaje</th>
                <th>Mujeres</th>
                <th>Porcentaje</th>
                <th>Total</th>
                <th>Total %</th>

            </thead>
            <tbody>
                <tr *ngFor="let he of hecho">
                    <td>{{he.circunstancia_del_hecho}}</td>
                    <td>{{he.hombre_1}}</td>
                    <td>{{he.hombre_2}}</td>
                    <td>{{he.mujer_1}}</td>
                    <td>{{he.mujer_2}}</td>
                    <td>{{he.total_1}}</td>
                    <td>{{he.total_2}}</td>

                </tr>
            </tbody>
        </table>
    </div>
</div>