<div class="view hm-black-strong">
    <div class="full-bg-img flex-center">
        <ul style="margin-top:5rem">
            <li class="mb-4">
                <h1 class="h1-responsive white-text"><strong>{{title}}</strong></h1>
            </li>
            <li>
                <h3 class="white-text text-lighten-5 h3-responsive" style="padding: 30px;">
                    Aunque se ha logrado reducir significativamente la tasa de este delito en el país durante los últimos 27 años, los ciudadanos siguen teniendo cercanía con la violencia letal. El Gobierno Nacional, las autoridades locales y especialmente los candidatos presidenciales deben prestar atención a este mensaje que manda la ciudadanía. Contrario a las medidas que prometen mejorar la seguridad apelando al endurecimiento de los castigos y las que privilegian la represión, en el mediano y largo plazo la única manera para lograr disminuir los homicidios en Colombia es invertir en las nuevas generaciones, lo cual implica tomar en serio la prevención.<br><br>La siguiente aplicación fue diseñada basada en los datos abiertos del Gobierno Colombiano respecto al Homicidio, donde se encontrará cifras respecto a los diversos tipos de homicidio que han sido condenados durante los últimos años
                </h3>
            </li>
        </ul>
    </div>
</div>
