<div class="container" style="padding-top:5rem;">
    <div *ngIf="homicidios">
        <h2>{{title}}</h2>
        <!-- <chart-component></chart-component> -->
        <table class="table table-hover table-striped">
            <thead class="info-color">
                <th>Departamento</th>
                <th>Municipio</th>
                <th>Tipo via</th>
                <th>VehiculoAgresor</th>
                <th>VehiculoVictima</th>
                <th>Edad</th>
                <th>Sexo</th>
                <th>Empleado</th>

            </thead>
            <tbody>
                <tr *ngFor="let homicidio of homicidios">
                    <td>{{homicidio.departamento}}</td>
                    <td>{{homicidio.municipio}}</td>
                    <td>{{homicidio.clase_sitio}}</td>
                    <td>{{homicidio.movil_agresor}}</td>
                    <td>{{homicidio.movil_victima}}</td>
                    <td>{{homicidio.edad}}</td>
                    <td>{{homicidio.sexo}}</td>
                    <td>{{homicidio.clase_empleado}}</td>

                </tr>
            </tbody>
        </table>
    </div>
</div>
