<div class="container" style="padding-top:5rem;">
    <div *ngIf="resumen">
        <h2>{{title}}</h2>
        <!-- <chart-component></chart-component> -->
        <table class="table table-hover table-striped">
            <thead class="info-color">
                <th>Grupo de edad</th>
                <th>Homicidio</th>
                <th>Accidente de transporte</th>
                <th>Accidental</th>
                <th>Suicidio</th>
                <th>Total</th>
            </thead>
            <tbody>
                <tr *ngFor="let rec of resumen">
                    <td>{{rec.grupo_de_edad}}</td>
                    <td>{{rec.homicidio}}</td>
                    <td>{{rec.accidente_de_transporte}}</td>
                    <td>{{rec.accidental}}</td>
                    <td>{{rec.suicidio}}</td>
                    <td>{{rec.total}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>