/* You can add global styles to this file, and also import other style files */

html,
body,
.view
{
    height: 100%;
}
body
{
    font-family: "Roboto", sans-serif;
}

.view
{
    background: url("http://localhost:4200/assets/img/homi.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
